:root {
    --first-color: #202123;
    --second-color: white;
    --third-color: #181818;
    --fourth-color: #303135;
}

.dark-mode {
    --first-color: white;
    --second-color: #202123;
    --third-color: #f2f2f2;
    --fourth-color: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--first-color);
    position: relative;
    margin: 0;
    min-height: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .container {
        padding: 0;
    }
}

/* Small screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium screens */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1270px;
    }
}

/***************************************************************/

/* Start header */
header {
    position: relative;
    padding: 18px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav > i {
    font-size: 20px;
    color: var(--second-color);
    cursor: pointer;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 25px;
}

header nav a {
    position: relative;
    color: var(--second-color);
    font-size: 14px;
}

header nav a:hover {
    text-decoration: underline;
}

header nav img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
}

header nav .image {
    position: relative;
}

header nav .image:first-of-type img {
    width: 20px;
}

header nav .image:last-of-type img {
    width: 33px;
    border-radius: 50%;
}

header nav .image::after {
    position: absolute;
    bottom: -30px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--second-color);
    color: var(--first-color);
    display: none;
}

header nav .image:hover::after {
    display: block;
}

header nav .image:first-of-type::after {
    content: "Google apps";
    width: 80px;
    font-size: 13px;
    left: 50%;
    transform: translateX(-50%);
}

header nav .image:last-of-type::after {
    content: "Google account";
    font-size: 13px;
    width: 100px;
    right: 0;
}
/* End header */

/***************************************************************/

/* Start landing */
.landing {
    position: relative;
    margin-top: 100px;
}

.landing .container {
    text-align: center;
    padding: 0 15px;
}

.landing .container > img {
    max-width: 100%;
    width: 280px;
}

@media (max-width: 767px) {
    .landing .container > img {
        width: 200px;
    }
}

.landing form {
    max-width: 100%;
    width: 600px;
    margin: 15px auto;
}

@media (max-width: 767px) {
    .landing form {
        width: 500px;
    }
}

.landing form img {
    max-width: 100%;
    width: 28px;
}

.landing form .search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 8px 5px 8px 15px;
    margin-bottom: 35px;
    cursor: pointer;
}

.landing form .search:hover {
    box-shadow: 0 1px 10px #ddd;
}

.landing form .search .icon {
    display: flex;
    align-items: center;
}

.landing form .search .icon img {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .landing form .search .icon img {
        margin-right: 0;
    }
}

.landing form input {
    flex: 1;
    height: 30px;
    border: none;
    color: var(--second-color);
    background: transparent;
    font-size: 18px;
}

.landing form img.search-icon {
    width: 18px;
}

.landing form .search-btn {
    margin-bottom: 20px;
}

.landing form .search-btn button {
    color: var(--second-color);
    background-color: var(--fourth-color);
    font-size: 14px;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.landing form .search-btn button:hover {
    outline: 1px solid #ddd;
}

.landing form .lang {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    color: var(--second-color);
}

.landing form .lang a {
    color: rgb(59, 129, 194);
}

.landing form .lang a:hover {
    text-decoration: underline;
}
/* End landing */

/***************************************************************/

/* Start footer */
footer {
    background-color: var(--third-color);
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
}

footer .country,
footer .links {
    padding: 12px 30px;
}

@media (max-width: 767px) {
    footer .country {
        text-align: center;
    }
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
}


@media (max-width: 767px) {
    footer .links {
        justify-content: center;
    }
}

footer .links .settings,
footer .links .help {
    display: flex;
    align-items: center;
    gap: 35px;
}

@media (max-width: 767px) {
    footer .links .settings,
    footer .links .help {
        gap: 15px;
    }
}

footer .country p,
footer .links a {
    color: var(--second-color);
    font-size: 14px;
}

footer .links a:hover {
    text-decoration: underline;
}
/* End footer */